/* Hides Card buttons blue border */
.btn {
  border: 0;
}

header .inner {
  padding: 20px 0;
}

header .inner .header-btns {
  float: right;
  padding: 7px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Keeps Support, Contact, Buttons in a row next to Netmatters Title */
.header-btns {
  text-align: right;
}

.header-btns .header-btn {
  display: inline;
  margin-left: 10px;
  vertical-align: middle;
}

.header-btns .header-btn a {
  font-size: 1.125rem;
  padding: 15px;
}

.header-btns .header-btn a i {
  margin-right: 15px;
}

.header-btns .header-btn button i {
  font-size: 1.95rem;
  display: block;
}

.header-btns .header-btn button .boxes p {
  margin-bottom: 0px;
  font-size: 0.75rem;
  line-height: 1;
}

/* Keeps Buttons in Header White On Hover */
.btn:hover {
  color: #fff;
}

.header-phone {
  color: #000000;
}

.header-phone:hover {
  color: #121419;
  text-decoration: underline;
}

/* Keeps Background support Button Blue */
.support a {
  background-color: #4183d7;
  text-transform: uppercase;
}

.contact a {
  background-color: #999aa2;
  text-transform: uppercase;
}

.menu button {
  background-color: #000000;
  text-transform: uppercase;
  height: 56px;
  line-height: 16px;
  text-align: center;
  font-size: 0.75rem;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Keeps Support, Contact, Menu text white and makes the font bigger */
.btn {
  color: #fff;
  font-size: 1.25rem;
}

/* Keeps Nav Icons background dark grey and Gives Nav Buttons space between */
.main-nav {
  background-color: #333645;
}

/*Keeps nav buttons on the same line */
.nav {
  text-align: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/* Hides Border */
.boxbtn {
  border: none;
}

/* Keeps nav-bar text white */
ul a {
  color: #fff;
}

/* Keeps nav-bar text white on hover */
ul a:hover {
  color: #fff;
  text-decoration: none;
}

/* Makes list-items float out on the Nav-Bar */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  text-transform: uppercase;
}

nav .container {
  overflow: hidden;
}

nav .main-nav-link,
nav small, nav i {
  display: block;
  color: #fff;
  text-decoration: none;
}

nav .main-nav-link small {
  font-size: 12px;
  font-weight: bold;
}

nav .nav-items {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

nav .main-nav-link {
  overflow: hidden;
  padding: 16px;
}

nav .main-nav-link:hover + .list-items {
  display: block;
}

nav .main-nav-link:hover + .list-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .list-items {
  left: 0;
  display: none;
  position: absolute;
  width: 100%;
}

nav .list-items ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav .list-items:hover {
  display: block;
}

nav .list-items:hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.web-des:hover {
  background-color: #926fb1;
}

.it-sup:hover {
  background-color: #4183d7;
}

.tele-services:hover {
  background-color: #d64541;
}

.spoke-software:hover {
  background-color: #67809f;
}

.digi-marketing:hover {
  background-color: #2ecc71;
}

.cyber-sec:hover {
  background-color: #f62459;
}

/*Keeps icons in navbar white on hover when moving over each of the Buttons */
.main-nav-link:hover .webcode {
  color: #fff;
}

.main-nav-link:hover .monitor {
  color: #fff;
}

.main-nav-link:hover .telephone {
  color: #fff;
}

.main-nav-link:hover .hardware {
  color: #fff;
}

.main-nav-link:hover .market {
  color: #fff;
}

.main-nav-link:hover .secure {
  color: #fff;
}

/* Makes all Background List-items their respective colors*/
.nav-design .list-items {
  background-color: #926fb1;
}

.nav-support .list-items {
  background-color: #4183d7;
}

.nav-services .list-items {
  background-color: #d64541;
}

.nav-software .list-items {
  background-color: #67809f;
}

.nav-digital .list-items {
  background-color: #2ecc71;
}

.nav-cyber .list-items {
  background-color: #f62459;
}

/* Gives Space between Text where list items are*/
/* Gives a dash next to each list item within the Navbar */
.main-nav .container li:not(:last-child) a::after {
  content: '-';
  padding-left: 30px;
  padding-right: 30px;
}

/* Keeps Icon-fonts correct color In Header */
.webcode {
  color: #926fb1;
}

.monitor {
  color: #4183d7;
}

.telephone {
  color: #d64541;
}

.hardware {
  color: #67809f;
}

.market {
  color: #2ecc71;
}

.secure {
  color: #f62459;
}

/* Cards on Hover */
.colorsec i.code-symbol, .colorsec a.code-symbol {
  background: #926fb1;
}

.colorsec.code-symbol:hover {
  color: #fff;
  background: #926fb1;
}

.colorsec.code-symbol:hover i.code-symbol, .colorsec.code-symbol:hover a.code-symbol {
  color: #926fb1;
  background: #fff;
}

.colorsec i.computer-symbol, .colorsec a.computer-symbol {
  background: #4183d7;
}

.colorsec.computer-symbol:hover {
  color: #fff;
  background: #4183d7;
}

.colorsec.computer-symbol:hover i.computer-symbol, .colorsec.computer-symbol:hover a.computer-symbol {
  color: #4183d7;
  background: #fff;
}

.colorsec i.telecoms-symbol, .colorsec a.telecoms-symbol {
  background: #d64541;
}

.colorsec.telecoms-symbol:hover {
  color: #fff;
  background: #d64541;
}

.colorsec.telecoms-symbol:hover i.telecoms-symbol, .colorsec.telecoms-symbol:hover a.telecoms-symbol {
  color: #d64541;
  background: #fff;
}

.colorsec i.bespoke-symbol, .colorsec a.bespoke-symbol {
  background: #67809f;
}

.colorsec.bespoke-symbol:hover {
  color: #fff;
  background: #67809f;
}

.colorsec.bespoke-symbol:hover i.bespoke-symbol, .colorsec.bespoke-symbol:hover a.bespoke-symbol {
  color: #67809f;
  background: #fff;
}

.colorsec i.digital-symbol, .colorsec a.digital-symbol {
  background: #2ecc71;
}

.colorsec.digital-symbol:hover {
  color: #fff;
  background: #2ecc71;
}

.colorsec.digital-symbol:hover i.digital-symbol, .colorsec.digital-symbol:hover a.digital-symbol {
  color: #2ecc71;
  background: #fff;
}

.colorsec i.cyber-symbol, .colorsec a.cyber-symbol {
  background: #f62459;
}

.colorsec.cyber-symbol:hover {
  color: #fff;
  background: #f62459;
}

.colorsec.cyber-symbol:hover i.cyber-symbol, .colorsec.cyber-symbol:hover a.cyber-symbol {
  color: #f62459;
  background: #fff;
}

/* Makes Dashes underneath subtitles white on hover */
.colorsec:hover .dash {
  background-color: #fff;
}

/* Makes space between dashes within the cards at the top of the webpage */
.colorsec .dash {
  margin-top: 16px;
  margin-bottom: 16px;
}

/*Gives all the symbols within the cards margin spacing */
.colorsec .code-symbol,
.colorsec .computer-symbol,
.colorsec .telecoms-symbol,
.colorsec .bespoke-symbol,
.colorsec .digital-symbol,
.colorsec .cyber-symbol {
  margin-top: 16px;
}

/* Gives buttons inside cards at the top of webpage */
.colorsec .btn {
  margin-top: 16px;
  margin-bottom: 16px;
}

.software-carousel {
  width: 100%;
  height: auto;
}

/* Gives a margin inbetween cards */
.cards {
  margin-bottom: 15px;
  margin-top: 15px;
}

/* Makes Card Boxes Header Font-Sizes Smaller */
.subtitle {
  font-size: 1.125rem;
  margin-top: 10px;
}

/* Makes Line visible underneath subtitles */
.dash {
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
}

/* Keeps icons in the Box circles white */
.code {
  color: #fff;
}

/* Keeps Latest Line visible */
.line {
  font-size: 1.25rem;
  content: '';
  bottom: -20px;
  left: 0;
  right: 0;
  width: 68px;
  height: 4px;
  display: block;
  background-color: #333645;
  position: relative;
}

/* Keeps Digital text on two lines to prevent box being bigger than the others */
.digital-text {
  font-size: 15px;
}

/* Makes Netmatters Logo Background Visible and Text Below it white */
/* Keeps heading and paragraph text aligned*/
.net {
  font-family: 'poppins', sans-serif;
  font-size: 1rem;
  letter-spacing: .4px;
  background-color: #333645;
  background-image: url("img/nmbgimg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  color: #fff;
  text-align: left;
  padding: 40px 0;
}

.net p,
.net h2 {
  margin-bottom: 25px;
}

.subheader {
  font-size: 2.25rem;
}

.paragraph {
  font-weight: 550;
}

/* Keeps Our Culture Button background white and text black */
#septenery {
  color: #333645;
  background-color: #fff;
  border-color: #fff;
  padding: 6px 15px;
}

#septenery:hover {
  background-color: #bdb8b8;
}

/* Keeps arrow beside Our Culture text*/
.culture {
  font-size: 1rem;
  display: inline;
  font-family: 'poppins' , sans-serif;
}

/* Targets Bar */
.bar {
  padding: 40px 0 1.5em;
  margin-bottom: 3em;
  color: #333645;
  font-size: 1.25rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Places Award Cards Side by Side*/
.awards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.awards .col-4 .card .card-img-top .card-img-top {
  -webkit-transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Tabs in top right corner of the awards cards*/
.cyber-tab {
  font-weight: bold;
  color: #fff;
  background-color: #f62459;
  position: absolute;
  font-size: 0.73rem;
  top: 10px;
  right: 0;
  padding: 0 10px;
  line-height: 1.438rem;
  text-transform: uppercase;
}

.cyber-tab:hover {
  color: #fff;
  text-decoration: underline;
}

.news-tab {
  font-weight: bold;
  color: #fff;
  background-color: #926fb1;
  position: absolute;
  font-size: 0.73rem;
  top: 10px;
  right: 0;
  padding: 0 10px;
  line-height: 1.438rem;
  text-transform: uppercase;
}

.news-tab:hover {
  color: #fff;
  text-decoration: underline;
}

.tele-tab {
  font-weight: bold;
  color: #fff;
  background-color: #d64541;
  position: absolute;
  font-size: 0.73rem;
  top: 10px;
  right: 0;
  padding: 0 10px;
  line-height: 1.438rem;
  text-transform: uppercase;
}

.tele-tab:hover {
  color: #fff;
  text-decoration: underline;
}

.card-body {
  padding: 20px;
}

.card-title {
  min-height: 3rem;
}

.card-body .card-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.card-img-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

.card-img-wrapper img {
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  width: 100%;
}

.card-img-wrapper:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-img-wrapper:hover:after {
  opacity: 1;
}

.text-eight {
  line-height: 1.375rem;
  font-size: 0.8125rem;
}

.text-nine {
  line-height: 1.375rem;
  font-size: 0.8125rem;
}

.text-ten {
  line-height: 1.375rem;
  font-size: 0.8125rem;
}

/*Keeps Text in Awards central*/
.certify {
  color: #f62459;
  display: inline-block;
  font-weight: 600;
}

.certify:hover {
  color: #f62459;
}

.note {
  color: #926fb1;
  font-size: medium;
  font-weight: 600;
}

.note:hover {
  color: #926fb1;
}

.job {
  color: #d64541;
  font-weight: 600;
  text-decoration: none;
}

.job:hover {
  color: #d64541;
}

/*Makes Card Link Button Text Different Colors */
.btn-octonary {
  background-color: #f62459;
}

.btn-nonery {
  background-color: #926fb1;
}

.btn-denary {
  background-color: #d64541;
}

.col-4 .btn-octonary {
  font-size: 1.15rem;
  margin-top: 15px;
}

.col-4 .btn-nonery {
  font-size: 1.15rem;
  margin-top: 15px;
}

.col-4 .btn-denary {
  font-size: 1.15rem;
  margin-top: 15px;
}

/*Makes Posted By Pictures Have A Circle Padding Behind Them*/
.img {
  border-radius: 50%;
  padding: 10px;
  height: 67px;
}

.grayscale:hover {
  -webkit-filter: none;
          filter: none;
}

/* Keeps text boxes above sponsor icons and hidden until in a hover state */
.coloured-box {
  display: none;
  position: absolute;
}

/* Bussey Text-box & Hover */
.bussey-box {
  top: -180px;
}

.bussey {
  display: block;
  position: relative;
}

.bussey:hover > .coloured-box {
  display: block;
}

/* Crane Text-box & Hover */
.crane-box {
  top: -230px;
}

.crane {
  display: block;
  position: relative;
}

.crane:hover > .coloured-box {
  display: block;
}

/* Bussey Text-box & Hover */
.beat-box {
  top: -200px;
}

.beat {
  display: block;
  position: relative;
}

.beat:hover > .coloured-box {
  display: block;
}

/* Bussey Text-box & Hover */
.northern-box {
  top: -200px;
}

.northern {
  display: block;
  position: relative;
}

.northern:hover > .coloured-box {
  display: block;
}

/*Moves Busseys, Crane, Northern Driver Icons*/
/* Gives space between the box tooltip and the cards above it */
.section {
  margin-top: 50px;
  padding-bottom: 50px;
}

/* Keeps toolbox about Busseys Icon */
.item .description .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

/* Makes arrow appear under tooltip box */
.section.clients .list .item {
  vertical-align: middle;
  position: relative;
}

/* makes arrow disappear commenting out display none will make it appear again and position absolute will make it go to far left */
.section.clients .list .item .description {
  bottom: 100%;
  left: -200px;
  right: -200px;
}

/* Keeps tooltip content within the box */
.item .description .box {
  background-color: #333645;
  color: #fff;
  padding: 20px;
  font-size: 0.875rem;
  width: 260px;
  margin: 0 auto 50px;
}

/* Moves dash further down in the box */
.section.clients .list .item .description .box h3 {
  position: relative;
  font-size: 1.125rem;
  color: #fff;
  margin: 0 0 11px;
}

/* Makes line-height, font and margin where the tooltip box is */
/* Keeps sponsor icons in a row */
.sponsors {
  padding: 50px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Keeps Beat icon spaced evenly between the rest of the icons*/
.section .col-3 {
  text-align: center;
}

/* Line within tooltip box*/
.bold-dash {
  content: '';
  margin: auto;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #fff;
  margin: 10px auto;
}

/* Arrow Below Card Boxes */
.box {
  position: relative;
}

/* Keeps arrow dead center underneath tooltip box*/
.list .item .description .box .arrow {
  position: absolute;
  bottom: -40px;
  margin-left: 70px;
}

.item .description .box .arrow::after {
  content: '';
  margin: auto;
  display: inline-block;
  border-style: solid;
  border-width: 36px 36px 0 36px;
  border-color: #333645 transparent transparent transparent;
}

/* Footer Background Color */
.bottom {
  color: #fff;
  background-color: #333645;
  padding: 47px 0 43px;
}

.bottom li {
  list-style: none;
  font-size: 0.900rem;
}

/* Social Media Icons */
.social i {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.fa-facebook {
  padding: 20px;
  font-size: 1.5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  text-align: center;
}

.fa-twitter {
  padding: 20px;
  font-size: 1.5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  text-align: center;
}

.fa-linkedin {
  padding: 20px;
  font-size: 1.5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  text-align: center;
}

/* Social Media Icons On Hover */
.fa-facebook:hover {
  background-color: #3C5A99;
  color: #fff;
}

.fa-twitter:hover {
  background-color: #38A1F3;
  color: #fff;
}

.fa-linkedin:hover {
  background-color: #0077b5;
  color: #fff;
}

/* Keeps Link Text White */
footer a,
footer a:hover {
  color: #fff;
  display: block;
}

/* Keeps Link Text White */
.social a {
  margin-bottom: 30px;
}

.creditations {
  padding: 50px 0;
}

.creditations .col-3 {
  text-align: center;
}

.grayscale {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media only screen and (min-width: 1260px) {
  .container {
    width: 1200px;
  }
  .hidden-lg {
    display: none !important;
  }
  .col-xs-3 {
    float: left;
    width: 25%;
  }
}

@media (max-width: 1259px) and (min-width: 992px) {
  .hidden-md {
    display: none !important;
  }
}

@media only screen and (max-width: 991px) {
  header
.header-btns
.support, .contact {
    display: none;
  }
  .main-nav {
    display: none;
  }
  .col-md-6 {
    width: 50%;
  }
  .mobile-container .header-phone {
    font-size: 32px;
    margin-left: 15px;
  }
  header .inner .row {
    display: table;
    width: 100%;
    margin: 0;
  }
  header .inner .row > * {
    padding: 0;
    display: table-cell;
    float: none;
    vertical-align: middle;
    width: 100%;
  }
  .wrap {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  header
.header-btns
.support, .contact {
    display: none;
  }
  .mobile-container
.header-phone {
    font-size: 32px;
    margin-left: 15px;
  }
  .wrap {
    display: none;
  }
  .main-nav {
    display: none;
  }
  .boxes {
    width: 750px;
  }
}

@media only screen and (max-width: 576px) {
  .contact {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */